ion-toolbar {
  height: 60px;
  padding: 10px;
}

.center-a {
  text-align: center;
}

.card-a {
  height: 50px;
}

.center-l {
  margin: auto;
  text-align: left;
  padding: 20px;

}

.center-t {
  text-align: center;
  width: 100%;
  // height: 150px;
}

.center-d {
  text-align: center;

}

.card-c {
  padding: 10px;
  width: 100%;
  height: 25px;
}

/* DOES NOT WORK - not specific enough */
.alert-wrapper {
  background: #e5e5e5;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .alert-wrapper {
  background: #e5e5e5;
}

.my-custom-class {
  --background: #e5e5e5;
}

ion-content{
  --ion-background-color:#b2d9ea;
}

.card-bg {
  background-color: #fdfdfd; // black
}

.font-f{
  font-family: cursive;
}

.font {
  width: 100%;

  padding: 5px;
  font-size: 1.2rem;
  margin: 0;
}

.fontTitle {
  margin-top: -20px;
}
.emoji{
  height: 30px;
}
.emoji-c{
  padding: 8px 0;
}

