ion-toolbar {
  height: 60px;
  padding: 10px;
}

ion-content{
  --ion-background-color:#b2d9ea;
}

.font-f{
  font-family: cursive;
 }

.border {
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 15px;
  --ion-background-color:#fdfdfd;
  font-size: 1.2rem;
 }
.button-s {
  margin-top: 15px;
  width: 100%;
  font-size: 1rem;
 }
.Emoji{
  height: 40px;
}
